
<div class="layout-main">

  <header ui-view="header" class="layout-header">
    
  </header>
  <section ui-view="content" class="layout-content" ng-controller="CafeController as cafe">
    <h1 class="ui-heading">Pending Orders</h1>
    <span class="loader"
      ng-if="cafe.loading">
      <span class="loader-inner"></span>
    </span>
    <ul class="ui-list">
      <li class="ui-item -order" ng-repeat="order in cafe.orders | orderBy :'-distance'">
        <div class="ui-details">      
          <div class="ui-heading">Billy Goat</div>
          <div class="ui-text">{{ order.order.length }} orders</div>
        </div>
        <div class="ui-price">{{ order.distance }} mi</div>
        <div class="ui-price">{{ order.price | currency }}</div>
      </li>
    </ul>
  </section>

</div>
