
<div ng-controller="OrderController as orderCtrl" class="layout-main">
  <header ui-view="header" class="layout-header">
    
  </header>
  <section ui-view="content" class="layout-content">
    <h1 class="ui-heading">Your Order</h1>
    <span class="loader"
      ng-if="locations.loading">
      <span class="loader-inner"></span>
    </span>
    <ul class="ui-list">
      <li class="ui-item" ng-repeat="order in orderCtrl.orders">
        <div class="ui-details">      
          <div class="ui-heading">{{ order.name }}</div>
          <div class="ui-text">{{ order.size }}</div>
        </div>
        <div class="ui-price">{{ order.price | currency }}</div>
      </li>
      <li class="ui-item"
        ui-sref="coffees"
        ng-if="!orderCtrl.id">
        <div class="ui-details">
          <strong class="ui-text">New Drink</strong>
        </div>
        <div class="ui-add"></div>
      </li>
    </ul>
    
  </section>
  <div class="ui-button -static" 
    ng-if="orderCtrl.id">
    Let's Goat Caffeinated
  </div>
  <footer ui-view="footer" class="layout-footer">
    <a class="ui-button" ng-click="orderCtrl.submit()"
      ng-if="!orderCtrl.id"
      ng-disabled="orderCtrl.loading">
      {{ !orderCtrl.loading ? 'On My Way!' : 'Sending Your Order' }}
    </a>
    <a ng-show="orderCtrl.id" href="https://twitter.com/intent/tweet?button_hashtag=goatspresso&text=Just%20ordered%20a%20{{orderCtrl.orders[0].name}}!" class="ui-button" data-size="large">Tweet #goatspresso</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </footer>
</div>
