
<div ng-controller="OrderController as orderCtrl" class="layout-main">
  <header ui-view="header" class="layout-header">
    
  </header>
  <section ui-view="content" class="layout-content">
    <h1 class="ui-heading">Your Order</h1>
    <ul class="ui-list">
      <li class="ui-item" ng-repeat="order in orderCtrl.orders">
        <div class="ui-details">      
          <div class="ui-heading">{{ order.name }}</div>
          <div class="ui-text">{{ order.size }}</div>
        </div>
        <div class="ui-price">{{ order.price | currency }}</div>
      </li>
      <li class="ui-item"
        ui-sref="coffees">
        <div class="ui-details">
          <strong class="ui-text">New Drink</strong>
        </div>
        <div class="ui-add"></div>
      </li>
    </ul>
  </section>
  <footer ui-view="footer" class="layout-footer">
    <a class="ui-button" ng-click="orderCtrl.submit()">
      On My Way!
    </a>
  </footer>
</div>
